* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

header {
    text-align: center;
    margin: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.block-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
    margin: 20px
}

.block {
    width: 200px;
    align-self: center;
    justify-self: center;
    opacity: 0.5;
}

.selected {
    opacity: 1;
}

.slider {
    position: relative;
    width: 20px;
    height: 400px;
    background-color: hotpink;
    justify-self: center;
    align-self: center;
}

.bar {
    position: absolute;
    top: 50%;
    background-color: aqua;
    width: 20px;
    height: 200px;
}
